 @model NE.Application.Dtos.UserDto.UpdatePasswordDto


@{
    Layout = "~/Views/Shared/_LayoutSub.cshtml";
    ViewData["Title"] = "Đổi mật khẩu";
}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg border-0 rounded-4">
                <div class="row g-0">
                    <!-- Avatar -->
                    <div class="col-md-4 d-flex flex-column align-items-center justify-content-center bg-light rounded-start p-4">
                        <img src="~/NEStore/img/feedback/avatar.jpg" alt="Avatar" class="rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;">
                        <p class="fw-semibold">Ảnh đại diện</p>
                    </div>

                    <!-- Form Đổi mật khẩu -->
                    <div class="col-md-8 p-5">
                        <h4 class="mb-4 text-center">Đổi mật khẩu</h4>
                        <form method="post" asp-action="ChangePassword" asp-controller="User">


                            <div class="mb-3">
                                <label for="Password" class="form-label">Mật khẩu hiện tại</label>
                                <input type="password" class="form-control" id="Password" name="Password" asp-for="Password" />
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>

                            <div class="mb-3">
                                <label for="NewPassword" class="form-label">Mật khẩu mới</label>
                                <input type="password" class="form-control" id="NewPassword" name="NewPassword" asp-for="NewPassword" />
                                <span class="text-danger" asp-validation-for="NewPassword"></span>
                            </div>

                            <div class="mb-3">
                                <label for="ComfirmPassword" class="form-label">Xác nhận mật khẩu mới</label>
                                <input type="password" class="form-control" id="ComfirmPassword" name="ComfirmPassword" asp-for="ComfirmPassword" />
                                <span class="text-danger" asp-validation-for="ComfirmPassword"></span>
                            </div>


                            <div class="mb-3 text-center">
                                <button type="submit" class="btn btn-custom mt-2">Thay đổi mật khẩu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
