  @model NE.Application.Dtos.BrandDto.BrandUpdateDto

@{
    ViewData["Title"] = "Chỉnh sửa thương hiệu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4>Chỉnh sửa thương hiệu</h4>
        </div>
        <div class="card-body">
            <form id="roleForm" method="post">
                <div class="mb-3">
                    <label for="brandName" class="form-label">Tên thương hiệu: </label>
                    <input asp-for="BrandName" type="text" class="form-control" id="brandName" placeholder="Nhập tên thương hiệu..." required>
                </div>
                <button type="submit" class="btn btn-success">Sửa</button>
                @Html.ActionLink("Hủy", "Index", "Brand", null, new { @class = "btn btn-secondary" })

            </form>
        </div>
    </div>
</div>
