@model NE.Application.Dtos.RoleDto.RoleCreateDto

@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4>Thêm vài trò</h4>
        </div>
        <div class="card-body">
            <form id="roleForm" method="post">
                <div class="mb-3">
                    <label for="roleName" class="form-label">Tên vài trò: </label>
                    <input asp-for="RoleName" type="text" class="form-control" id="roleName" placeholder="Nhập tên vài trò" required>
                </div>
                <button type="submit" class="btn btn-success">Thêm</button>
                @Html.ActionLink("Hủy", "Index", "Role", null, new { @class = "btn btn-secondary" })

            </form>
        </div>
    </div>
</div>
