@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Thống kê đơn hàng";
}

<div style="width: 90%; max-width: 1000px; height: 500px; margin: 0 auto; text-align: center;">
    <h2 class="m-4">Biểu đồ thống kê doanh thu ( 10 ngày gần nhất)</h2>
    <canvas id="revenueChart" style="max-width: 100%; height: 100%;"></canvas>
</div>

@section Scripts {
    <script>
        const labels = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ViewBag.Labels));
        const data = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ViewBag.Revenues));

        const ctx = document.getElementById('revenueChart').getContext('2d');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Doanh thu theo ngày',
                    data: data,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    fill: true,
                    tension: 0.4
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            callback: function(value) {
                                return value.toLocaleString('vi-VN') + ' ₫';
                            }
                        }
                    }
                },
                responsive: true,
                maintainAspectRatio: false
            }
        });

    </script>
}
