@{
    Layout = "~/Views/Shared/_LayoutSub.cshtml"; // layout admin riêng
    ViewData["Title"] = "Chi tiết sản phẩm";
}
<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Tìm kiếm...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Thương Hiệu</h4>
                        <ul>
                            <li><a href="#">Tất cả</a></li>
                            <li><a href="#">Apple</a></li>
                            <li><a href="#">SamSung</a></li>
                            <li><a href="#">Xiaomi</a></li>
                            <li><a href="#">Nokia</a></li>
                        </ul>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Tin Mới Nhất</h4>
                        <div class="blog__sidebar__recent">
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="~/NEStore/img/blog/blog-7.jpg" style="width:60px; height:60px;" alt="" />
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>5 Cách Giữ Pin Laptop Bền Lâu</h6>
                                    <span>05/03/2025</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="~/NEStore/img/blog/blog-8.png" style="width:60px; height:60px;" alt="" />
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>Mẹo Chọn Tai Nghe Bluetooth Chuẩn Nhất</h6>
                                    <span>28/02/2025</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="~/NEStore/img/blog/blog-7.jpg" style="width:60px; height:60px;" alt="" />
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>Hướng Dẫn Vệ Sinh Màn Hình TV LCD</h6>
                                    <span>20/02/2025</span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="blog__sidebar__item">
                        <h4>Tìm Kiếm Theo</h4>
                        <div class="blog__sidebar__item__tags">
                            <a href="#">Apple</a>
                            <a href="#">Samsung</a>
                            <a href="#">Nokia</a>
                            <a href="#">Xiaomi</a>
                            <a href="#">Readmi</a>
                            <a href="#">LG</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/NEStore/img/blog/blog-7.jpg" alt="Giảm giá TV 4K">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> 04/05/2025</li>
                                    <li><i class="fa fa-comment-o"></i> 12</li>
                                </ul>
                                <h5><a href="#">5 Mẹo Chọn TV 4K Giá Tốt</a></h5>
                                <p>
                                    Khám phá cách tìm mua TV 4K chất lượng cao với ngân sách hạn chế mà vẫn đảm bảo trải nghiệm xem tuyệt vời.
                                </p>
                                <a href="#" class="blog__btn">XEM THÊM <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/NEStore/img/blog/blog-8.png" alt="Mua tai nghe không dây">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> 02/05/2025</li>
                                    <li><i class="fa fa-comment-o"></i> 8</li>
                                </ul>
                                <h5><a href="#">Hướng Dẫn Chọn Tai Nghe Không Dây</a></h5>
                                <p>
                                    Tìm hiểu các tính năng quan trọng khi chọn mua tai nghe Bluetooth, từ pin đến chất âm và kết nối an toàn.
                                </p>
                                <a href="#" class="blog__btn">XEM THÊM <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/NEStore/img/blog/blog-7.jpg" alt="Bảo trì laptop">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> 28/04/2025</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Cách Vệ Sinh Và Bảo Trì Laptop</a></h5>
                                <p>
                                    Hướng dẫn từng bước để làm sạch và bảo dưỡng laptop, giúp kéo dài tuổi thọ và hiệu năng ổn định lâu dài.
                                </p>
                                <a href="#" class="blog__btn">XEM THÊM <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/NEStore/img/blog/blog-8.png" alt="Phụ kiện điện thoại">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> 25/04/2025</li>
                                    <li><i class="fa fa-comment-o"></i> 3</li>
                                </ul>
                                <h5><a href="#">Top 5 Phụ Kiện Không Thể Thiếu </a></h5>
                                <p>
                                    Khám phá những phụ kiện hữu ích nhất cho điện thoại của bạn, từ ốp lưng đến sạc nhanh và pin dự phòng.
                                </p>
                                <a href="#" class="blog__btn">XEM THÊM <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>

            
                    <div class="col-lg-12">
                        <div class="product__pagination blog__pagination">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </section>
